RELAY_DB_SA_PASSWORD="change-me-Str0ng!"
RELAY_DB_PORT="1433"
ConnectionStrings__Relay="Server=localhost,${RELAY_DB_PORT};Database=relay;User Id=sa;Password=${RELAY_DB_SA_PASSWORD};TrustServerCertificate=True"
